extends layout

block content
  h1= title
  p Welcome to #{title}
  ul
  li
    a(href="/enrollment")  Top 10 Enrollment Bar Graph
  li 
    a(href="/gender")  Gender Distribution Pie Graph
  li
    a(href="/tuition")  Tuition Line Graph